     <!-- Footer -->
     <footer class="footer pt-0" th:fragment="footer">
        <div class="row align-items-center justify-content-lg-between">
          <div class="col-12">
            <div class="copyright text-center text-lg-left text-muted">
              © <script>
                document.write(new Date().getFullYear())
              </script>,
              made with <i class="fa fa-heart"></i>  for a better web.
              
              
            </div>
          </div>
         
        </div>
      </footer>
      <!-- Footer -->